@import url("header.css");
@import url("banner.css");
@import url("metricas.css");
@import url("banner-vagas.css");
@import url("vagas.css");
@import url("comentarios.css");
@import url("footer.css");

:root {
    --cor-de-fundo: #FFFFFF;
    --cor-primaria: #8E2424;
    --cor-primaria-clara: rgba(142, 36, 36, 0.05);
    --cor-secundaria: #101828;
    --cor-terciaria: #667085;
    --cor-terciaria-clara: #98A2B3;
    --fonte: "Inter";
    --cor-borda: #EAECF0;
    --cor-fundo-rodape: #F9FAFB;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--cor-terciaria);
    font-family: var(--fonte);
    font-size: 1rem;
    font-weight: 400;
}