@import url("header.css");
@import url("banner.css");
@import url("metricas.css");
@import url("banner-vagas.css");

:root {
    --cor-de-fundo: #FFFFFF;
    --cor-primaria: #8E2424;
    --cor-secundaria: #101828;
    --cor-terciaria: #667085;
    --fonte: "Inter";
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--cor-terciaria);
    font-family: var(--fonte);
    font-size: 1rem;
    font-weight: 400;
}